{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    {% if request.user.is_authenticated %}
    <h2>Change Password</h2>
        <form action="" method="post">
            {% csrf_token %}
            <table class="form_table">
                {{ form.as_table}}
            </table>
            <input type="submit" value="submit" class="submit_button">
        </form>
    {% else %}
    <meta http-equiv="refresh" content="0; URL={% url 'login' %}" />
    {% endif %}
</main>
{% endblock %}