{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <!------------ PASSWORD CONFIRM CHANGE BLOCK ------------>
    <div class=".change_confirm">
        <h2>Password Change Successful!</h2>

        <!------------ BUTTON BLOCK  ------------>
        <button><a href="{% url 'news:index' %}">Return to Home</a></button>
        <button><a href="{% url 'news:allStories' %}">Explore all Stories</a></button>
        <button><a href="{% url 'login' %}">Login with new password</a></button>
    </div>
</main>
{% endblock %}