{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<main>
    <button><a href="{% url 'news:allStories' %}">Explore Stories by All Authors</a></button>  
    <!------------ HERO BLOCK ------------>
    <div class="hero">  

        {% if request.user.is_authenticated %}
        <!-- Only load for user -->
            {% if request.user.id == user.id %}
                <!-- Only load if profile user is the logged in user -->
                <h2>Welcome back {{ user.username }}!</h2>
                <!------------ USER DETAILS BLOCK ------------> 
                <table id="profile_table">
                    <tr>
                        <td><b>Your Email:</b></td> 
                        <td>&nbsp;&nbsp;{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Your Username:</b></td> 
                        <td>&nbsp;&nbsp;{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td><b>Your Password:</b></td>
                        <td>&nbsp;<button><a href="{% url 'users:changePassword' %}">Change</a></button>
                    </tr>            
                </table>
    </div>
            <!------------ USER STORIES BLOCK ------------> 
                <h3>Your Stories:</h3>
            {% else %}
                <h2>View {{ user.username }}'s Stories</h2>
            {% endif %}
        {% else %}
        <h2>View {{ user.username }}'s Stories</h2>
        {% endif %}
    <div id="user-stories">
            {% if user_stories %}
                {% for story in user_stories %}
                    {% include "news/storyCard.html" with story=story position=forloop.counter %}
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
    </div>
</main>

{% endblock %}
