
{% load static %}
<!doctype html>

<html lang="en">
    <!------------ HEAD BLOCK ------------>
    <head>
        <meta charset="utf-8">
        <title>She Codes Pet Post</title>
        <meta name="description" content="She Codes Pet Post">
        <meta name="author" content="Kristy Gray">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href=" {% static 'images/favicon_purple.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">

            {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <!------------ HEADER BLOCK ------------>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <img src="{% static '/images/logo.png' %}" />
                </a>
            </div>
            <!------------ NAV BLOCK ------------>
            {% include './nav.html' %}
        </header>
        <!------------ EXTEND TO OTHER PAGES ------------>
        {% block content %}{% endblock %}
    </body>
</html>
