@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

/* --------------- STORY CARD STRUCTURE  ---------------  */
.story-card {
    margin: 10px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 5px 0 lightgray,0px 6px 20px 0 lightgray;
    min-height: 160px;
}

.story-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

/* --------------- LATEST STORIES GRID SETUP ---------------  */

#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 700px;
}

#story-card-1.story-card {
    min-width: 200px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

/* --------------- LATEST STORIES FORMATTING  ---------------  */

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 160px;
    width: 100%;
    height: 100%;
    min-width: 300px;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 13px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 50%;
    height: 100%;
    margin-right: 30px;
}

/* --------------- ALL (EXPLORE) STORIES FORMATTING ---------------  */

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

/* --------------- INDIVIDUAL STORY FORMATTING ---------------  */

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 50px;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0px 4px 5px 0 lightgray,0px 6px 20px 0 lightgray;
}

.author_links {
    color:  #8246AF;
}

#delete_confirm h3 {
    margin-bottom: 20px;
}

/* --------------- (FORM) TABLE FORMATTING ---------------  */

.form_table {
    text-align: left;
}

label {
    padding-right: 20px;
}

.form-control {
    width: 95%;
}

/* --------------- IMAGE FORMATTING ---------------  */

#doggo_img_else {
    display: block;
    max-width: 250px;
    max-height: 250px;
    transform: scaleX(-1);
}

.divider_icon {
    height: .5rem;
    width: .5rem;
    color:  #8246AF;
}