{% extends "base.html" %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<!-- CREATE STORY BLOCK W/ LOGIN PROMPT -->
{% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="form_table">
            {{ form.as_table }}
        </table>
        <input type="submit" value="submit" class="submit_button">
    </form>
{% else %}
    <button><a href="{% url 'login' %}">Login to Write a New Story</a></button>
{% endif %}

{% endblock %}


<!-- 
    FUNCTION:
    This page is viewed when the link "write new story" is clicked from the news page and goes to: news/add-story/
    This page is only visible to logged in users. The link above says "Login to Write a New Story" if user is not logged in.
    If link is clicked, will be requested to login.
    If a user who is not logged in navigates to the url directly (/news/add-story/), they will see a "Login to Write new story" button.

    ASSIGNMENT:
    This is part of the "Creating a form" setup.
    This page satisfies Part 1: 
    - "Style the form for adding new stories"
    - "Add a field to the NewsStory model for an image url and use this image rather than the default images provided by the starter"
    This page satisfies Part 2: 
    - "Show/Hide the relevant information and buttons based on whether to user is logged in/out"
    - "Enable/Disable the relevant features based on whether the user is logged in/out"

    ALTERNATE SOLUTIONS:
    {% comment %}

        OG PROJECT SETUP CODE: 
            {% extends "base.html" %}
            {% block content %-}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="submit">
            </form>
            {-% endblock %}

        ALTERNATIVE 1:
            <div id="new_story_form">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="story-line">
                        {{ field.label }} {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="submit">
                </form>
            </div> 

    {% endcomment %}
-->

