{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <!------------ CONFIRM DELETE BLOCK ------------>
    <div class="delete_confirm">
        <h2>You have successfully deleted your story!</h2>

        <!------------ BUTTON BLOCK  ------------>
        <button><a href="{% url 'news:index' %}">Return to Home</a></button>
        <button><a href="{% url 'news:allStories' %}">Explore all Stories</a></button>
        <button><a href="{% url 'users:profile' request.user.id %}">View your Stories</a></button>
        <!-- Only load for current user -->
    </div>
</main>
{% endblock %}