    {% extends "base.html" %}
    {% load static %}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}


    {% block content %}

    {% if request.user.is_authenticated %}
        <!-- FORMS SETUP Step 2: Add a link to the form from the home page -->
        <button><a href="{% url 'news:newStory' %}">Write New Story</a></button>
    {% else %}
        <button><a href="{% url 'login' %}">Login to Write a New Story</a></button>
    {% endif %}



<!-- ------------------------------- -->
<!-- AUTHOR NEW APPROACH -->
    <h2>Read Author's Work</h2>
        <div id="all-authors">
            {% if story_authors %}
                {% for author in story_authors %}
                    <p><a href="{% url 'users:profile' author.id %}">{{ author }}</a></p>
                {% endfor %}
            {% else %}
                <p>No authors are available.</p>
            {% endif %}
        </div>

        <!-- AUTHOR HELP -->
        <!-- <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Filter</button>
        </form> -->



        <!-- https://www.youtube.com/watch?v=0x0pWrm2nKI -->
        <!-- <form method="POST">
            {% csrf_token %}
            <select name="author">
                {% for author in displayauthor %}
                    from story_dropdown function in views -->
                    <!-- <option value="{{ author }}">{{ author }}</option> -->
                    <!-- put the author values from the author list as options -->
                <!-- {% endfor %}
            </select>
            <button type="submit">Filter by Author</button>
        </form> -->

        

<!-- ------------------------------- -->
    <h2>Explore All Stories</h2>

    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% endblock %} 





            <!-- NOTE -->
        <!-- How to get all news stories into the page: 
        if there are stories, loop through and list them -->
