<!-- NEWS SETUP Step 13: Style the story page -->
{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        <!-- <img src="{% static '/news/images/ollie.jpg' %}"> -->
        <img src="{{ story.image_field }}">
        {{ story.content|linebreaks }}
    </div>
</div>
{% endblock %}

<!-- Comment HELP!!!! -->
<!-- https://djangocentral.com/creating-comments-system-with-django/ -->

<!-- {% for comment in comments %}
<div>
    <p>
    {{ comment.commenter_name }}
    <span>
    {{ comment.comment_created_on }}
    </span>
</p>
{{ comment.body | linebreaks }}
</div>
{% endfor %}
<div>
    {% if new_comment %}
        <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
        </div>
    {% else %}
        <h3>Leave a comment</h3>
        <form action="" method="post"> -->
        <!-- {% csrf_token %} -->
        <!-- <table id="form_table">
            {{ comment_form.as_table }}
        </table>
        <input type="submit" value="submit">
        </form>
    {% endif %}
</div>





 KG: 
Displays one specific story 
Update folder of placeholder photos. 
Update placeholder.
-->
